*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    font-family: serif,'微软雅黑';
}
body{
    background-color:#E5E5E5;
    zoom:1;
}
.clear{
    clear: both;
}
.head{
    width: 100%;
    position: fixed;
    top: 0px;
    background-color:rgba(245,245,245,0.6);
    height: 50px;
    line-height: 50px;
    padding-left: 20%;
    box-shadow: 0 2px 5px #aaa;
    z-index: 20;
    border-width: 1px 1px 1px 6px;
    
}
.head span a{
    display: inline-block;
    color:black;
    position: relative;
    line-height: 50px;
}
.head span{
    margin-right: 5%;
}
.little li:hover{
    background-color:rgba(67, 116, 224, 1.00);
    color:#fff;
    cursor: pointer;
}
.content{
    margin: auto;
    margin-top:50px;
    display: block;

}
.content-left,.content-right{
    
    display: inline-block;
    background-color:#E5E5E5;
    margin: 1%;
    float: left;
}
@media(min-width:992px){
    .content-left,.content-right{
        width: 48%;
    }
    .content{
        width: 850px;
    }
}
@media(max-width:991px){
    .content{
        width:700px;
    }
    .content-left,.content-right{
        width: 48%;
    }
}

@media(max-width:767px){
    .content{
        width: 100%;
    }
    .content-left,.content-right{
        width: 96%;
	margin-left:2%;
	margin-right:2%;
    }
}



.box{
    margin-top:20px;
    width: 100%;
    background-color: #fff;
    position: relative;
    border-radius: 4px;
}
.little{
    position: absolute;
    right: -3px;
    top:50px;
/*    background-color:rgba(222, 222, 222,1.00);*/
    color:rgba(67,116,224,1.00);
    z-index: 10;
}
.little li{
    padding-right: 30px;
    height: 20px;
    border-right:3px solid rgba(67, 116, 224, 0.5);
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
    background-color:rgba(180, 180, 180,0.7);
    display: none;
}
.introduce{
    font-size: 14px;
    color:rgba(188, 185, 193, 1.00);
    line-height: 30px;
    height: 30px;
    margin: auto;
    border-bottom: 1px solid rgba(187, 187, 187, 1.00);
    width: 85%;
    font-weight: 100;
}
.title{
    margin-top: 20px;
    padding-left: 30px;
    margin-bottom: 20px;
}
.title h3{
    font-size:16px;
    color:black;
    line-height: 22px;
    height: 22px;
    font-weight: 100;
}
.time{
    margin-top: 10px;
    color:rgba(170, 170, 175, 1.00);
    font-size: 12px;
}
.content-body{
    box-sizing: border-box;
    padding: 0px 30px 20px 30px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 200;
}
.content-body p{
    padding: 4px 0px;
}
.content-foo{
    background-color: rgba(245, 245, 245, 1.00);
    font-size: 12px;
    font-weight: 100;
    border-radius: 0px 0px 4px 4px;
}
.content-foo img{
    margin: 10px 0px 0px 20px;
    width: 40px;
    height: auto;
    border-radius: 20px;
    float: left;
}
.name-work{
    display:inline-block;
    padding:10px 10px; 
    float: left;
}
.work{
    padding: 10px 0px 0px 0px;
}
.techniques{
    padding-bottom: 30px;
}
.techniques .little{
    top:30px;
}
.techniques h2{
    font-size: 22px;
    font-weight: 100;
    line-height: 50px;
    text-indent: 20px;
}
.li-technique{
    width: 85%;
    margin: auto;
    border-bottom: 1px solid rgba(187, 187, 187, 1.00);
}
.technique{
    margin-left: 0px;
    padding-bottom: 15px;
    margin-top: 15px;
    float: left;
}
.technique img,.get{
    float: left;
}
.technique img{
    width: 35px;
    height: auto;
    -webkit-user-select:false;
}
.get{
    margin-left: 10px;
}
.liyuhang{
    background-color: rgba(228, 147, 7, 1.00);
}
.liyuhang p,.liyuhang span{
    font-size: 14px;
    font-weight: 100;
    color:rgba(244, 212, 155, 1.00);
}
.liyuhang-introduction{
    padding: 0px 30px 30px 30px;
}
.liyuhang .little li{
    color:rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.15);
    border-color:rgba(0,0,0,0.5);
    cursor: pointer;
}
.liyuhang .little{
    top:30px;
}
.liyuhang .little li:hover{
    background-color: rgba(255,255,255,0.5);
    color:rgba(255,255,255,1);
}
.liyu.koi-liyuhang{
    line-height: 30px;
}
.liyuhang h3{
    line-height: 40px;
    color:#fff;
}
.want{
    margin-bottom: 20px;
}

.liyuhang .liyu{
    color:#fff;
}
